{% block content %}
<div class="welcome">
    <h2>Welcome to Jim's Marketplace</h2>
</div>

<div class="signup" name="signup" id="signup">
    <form action="signup.php" method="post">
        <input type="submit" name="signup" value="Sign Up Here">
    </form>
</div>

<div class="signin" name="signin" id="signin">
    <form action="login.php" method="post">
        <input type="submit" name="signin" value="Sign In Here">
    </form>
</div>
{% endblock %}